/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* estilos generales */

body{
    background-color: #001524;
}

header{
    text-align: center;

}

header nav{
    margin-top: 20px;
    background-color: #f6135a;
    border-radius: 20px;
    max-width: 80%;
    margin: auto;
}

header nav ul li{
    font-size: 20px;
    width: 150px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

li{
    padding: 20px;
}

a{
    text-decoration: none;
    color: #ffffff !important;
    font-size: 16px;
}

p{
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0;
    
}

/* estilos de inicio */

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 266px);
}


main h1{
    text-align: center;
    margin: 30px 20px;
    color: aliceblue;
    font-size: clamp(20px,8vw,60px);
   
}


.contenedor-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.contenedor-inicio img{
    border-radius: 20px;

}


/* estilos de noticias */

.contenedor-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.texto-noticias{
    text-align: justify;
    max-width: 250px;
}



/* estilos de juegos */

.contenedor-juegos{
    display: inline-block
}



/* estilos plataformas */

main nav{
    background-color: #E70009;
    margin-top: 40px;
    margin-bottom: 20px;
}

main nav ul li{
    width: 150px;
    display: inline-block;
    padding: 10px;
    margin: 21px;
}

main nav ul li a{
    color:#77D970;
}



/* estilos de contacto */

main h2{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #77D970;
    font-size: 25px;
} 



/* estilos del footer */

.texto-footer{
    text-align: center;
    padding: 40px 20px;
    color: #0191f2;

}


/* propiedades de media query */

@media screen and (min-width:992px){
 
    .contenedor-inicio{
        flex-direction: row;
    }   
    
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 40px;
        padding-left: 40px;
    }
}
